:root{
    --colorfondo:#0d0d31;
    --colorfondo2:#1a1a37;
    --resaltar:#ffff00;
    --negro:#000;
    --fontblanco:#fff;
    --ciconin:#00ffff;
    --azul:#0083FF;
    --letraclara:#6767c9;
    --letradefondo:#323276;
    --dorado:#ede030;
    --doradooscuro:#f7d033;
}
/*  RESET CSS  */

    html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,var,form,fieldset,blockquote{
        margin:0;
        padding:0;
        font-size:100%;
        font-weight:normal;
    }
    /* table{ border-collapse:collapse; border-spacing:0;}
    td,th,caption{font-weight:normal; text-align: left;}
    img,fieldset{border:0;}
    ul{padding-left:1.4em; list-style: decimal;}
    ol{padding-left:1.4em; list-style: square;} */
    /* q:before, q:after {content:'';} */
    
/*  FIN DE RESET  -------------------------------------------------------------------------------------------------------FIN DE RESET*/
body{
    background:var(--colorfondo);
}
header{
    width:100%;
    height:110px;
    background:var(--colorfondo2);
    position:fixed;
}
header:hover{
    /* opacity:100%; */
    z-index:5;
}
header div{
    position:absolute;
    top:20px;
    left:150px;
    width:70px;
    height:70px;
    background: radial-gradient(circle at 33% 100%,#73f3f3 1%, var(--azul) 30%);
    border-radius: 50%;
    position:relative;
}
header div:before{
    content: '';
    display:inline;
    position:absolute;
    top:15px;
    left:10px;
    background:var(--azul);
    border-right:20px solid transparent;
    border-left:20px solid var(--fontblanco);   
    border-top:20px solid transparent;   
    border-bottom:20px solid transparent;   
}
header div:after{
    content: 'cuevana 3';
    font: bold 1.8em verdana;
    color:var(--fontblanco);
    position:absolute;
    left:70px;
    top:10px;
    width:300px;
}

header nav{
    position:relative;
    top:-25%;
    left:30%;
}
header nav ul li{
    float:left;
    list-style:none;
    font-size:1.2em;
}
header nav ul li a{
    text-decoration:none;
    float:left;
    padding:10px;
    margin-right:28px;
    background:var(--colorfondo2);
    color:var(--fontblanco);
}
.seleccion{
    background:var(--colorfondo2);
    color:var(--fontblanco);
    border:none;
    font-size:1em;
    padding:10px;
    margin-right:28px;
    
}
#search{
    background:var(--colorfondo);
    /* opacity:80%; */
    width:140px;
    border-radius: 30px;
    padding:12px;
    border:1px solid var(--letradefondo);
}
#registro{
    padding:12px;
    background:var(--azul);
    color:var(--fontblanco);
    border-radius: 30px;
    width:90px;
    font-size:1em;
    border:none;
}
#entrar{
    background:transparent;
    color:var(--fontblanco);
    border:none;
}
header nav table tr td input{
    margin-left: 20px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------SLIDER */
.slider{
    overflow:hidden;
    width:100%;
    height:600px;
    background:var(--colorfondo);
    margin-top:10px; 
    
}
.slider ul{
    display:flex;
    padding:0px;
    width:400%;

    animation: cambio 20s infinite;
    animation-direction: alternate; 
    /* animation-timing-function: ;  */
}
.slider li{
    list-style: none;
    width:100%;
}
.slider img{ 
     opacity:40%; 
     width:100%;
}  
.slider img:hover{
    opacity:50%;
} 

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


/* .navegacion{
    background:var(--colorfondo);
    width:300px;
    height:100px;
    margin:auto;
}

.manual-btn{
    border:2px solid cyan;
    padding:5px;
    border-radius: 10px;
    cursor:pointer;
    transition:1s;
}

#radio1:checked ~ .first{
    margin-left:0%;
}
#radio2:checked ~ .first{
    margin-left:-100%;
}
#radio3:checked ~ .first{
    margin-left:-200%;
}
#radio4:checked ~ .first{
    margin-left:-300%;
}  */

/* -------------------------------------------------------------------------------------------------------------------------------------DIV estruct */
#main1{
    background:var(--colorfondo);
    width:80%;
    height:3300px;
    margin:auto;
}
#miniseccion{
    width:70%;
    height:100%;
    background:var(--colorfondo);
    /* margin-left:140px;*/
    float:left;
}
aside{
    margin-left:30px;
    height:70%;
    width:27%;
    background:var(--colorfondo);
    /* position:relative; */
    /* left:788px; */
    display:inline-block;
}
/* ------------------------------------------------------------------------------------------------------------------------------EPISODIOS */
#ver_mas_series{
    padding:10px;
    background:var(--azul);
    color:var(--fontblanco);
    border-radius: 30px;
    width:130px;
    font-size:1em;
    border:none;
    float:right;
    margin:40px 10px;
}
#titulo_episodios{
    font:2em sans-serif;
    font-weight: bold;
    color:var(--fontblanco);
    margin:40px 10px;
}
                                        /* NAV ESCONDIDO */
#episodios{  
    clear:both;
    max-width:100%;
    height:300px;
    background: var(--colorfondo);
    overflow:hidden;
}
#episodios img{
    width:100%;
    height:300px;
    z-index: -1;

}

.slidesjs-pagination{
    /* background:#424242; */
    list-style:none;
    overflow:hidden;
    margin-top:0px;
    position:relative;
    top:-110px;
    z-index: 5;
    margin: auto;
}
.slidesjs-pagination li{
    float:left;
    border-radius: 50%;

}
.slidesjs-pagination li a{
    display:block;
    padding:1px 1px;
    color:var(--ciconin);
    text-decoration: none;
    background:var(--ciconin);
    border-radius: 50%;
    margin-left:5px;
}
.slidesjs-pagination li a:hover{
    background:var(--negro);
}
.slides .active{
    background:var(--fontblanco);
}
.slidesjs-navigation{
    background:var(--colorfondo);
    color:var(--colorfondo);
    text-decoration: none;
    /* display:inline-block; */
    padding:10px 20px;
    float:right;
}
.slidejs-container{
    height:300px;
}
.slidesjs-control{
    height:300px;
}
/* ------------------------------------------------------------------------------------------------------------------------------PELICULAS NAV */

section div div div h2{
    color:var(--fontblanco);
    font-size:2.2em;
    font-weight:bold;
}
section div div div nav{
    margin-top:10px;
}
section div div div nav ul li{
    list-style:none;
    float:left;
    font-size:1em;
}
section div div div nav ul li h2{
    color:var(--fontblanco);
    font-size:2.2em;
    font-weight:bold;
}
section div div div nav ul li a{
    text-decoration:none;
    float:left;
    padding:10px;
    margin-right:10px;
    background:var(--colorfondo);
    color:var(--fontblanco);
    margin-left:15px;
}
section div div div nav ul li a:hover{
    border-bottom: 2px solid var(--doradooscuro);
}

/* ---------------------------------------------------------------------------------------------------------------------------PELICULAS IMG */
section div div div div table tr td figure{
    width:165px;
    height:260px;
}
section div div div div table tr td figure img{
    border-radius:2%;
    opacity:80%;

}
section div div div div table tr td figure img:hover{
    opacity:100%;
}

.bold{
    font-weight: bold;
}
#imagenes{
    margin-top:40px;
}
#imagenes table tr{
    height:350px;
}
.muestra_pelis{
    text-align:center;
    font-weight: bold;
    margin-right:20px;
    margin-left:0px;
}
.muestra_pelis a{
    text-decoration: none;
    color:var(--fontblanco);
}
.anro{
    width:40px;
    height:18px;
    background:var(--azul);
    z-index:2;
    position:relative;
    bottom:-255px;
    right:-130px;
    border-radius:30px;
    color:var(--fontblanco);
}
.anro p{
    font-size:12px;
    position:relative;
    top:2px;
    font-weight: bold;
}
#mostrar_mas{
    width:99%;
    margin:40px auto;
    border-radius: 30px;
    border:none;
    padding:15px 0px;
    background:var(--letradefondo);
    color:var(--fontblanco);
    font-size:1em;
}
#mostrar_mas:hover{
    background:var(--azul);
}
#series_online{
    background: var(--colorfondo);
    width: 100%;
    height:400px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------ASIDE */
/*                                                        PRIMER ANUNCIO                                                                       */
section div aside figure{
    margin:0px;
    padding:0px;
    width:400px;
    margin-top:30px;

}
section div aside figure img{
    clear:both;
    width:300px;
    height:300px;
    margin:0px;
    padding:0px;
    border-radius:10px;
    opacity:90%;
}
section div aside figure img:hover{
    opacity: 100%;
}

/*           -       -         -           -         -         -   IDIOMA    -        -            -             -           -         -          -   */
.anuncio_aside{
    width:260px;
    padding:20px;
    margin-top:40px;
    background:var(--colorfondo2);
    color:var(--letraclara);
    /* border:none; */
}
.anuncio_aside p{
    text-align:center;
    font-size:0.8gitem;
    font-weight: bold;
    line-height: 15px;
}
.anuncio_top_estrenos{
    width:260px;
    padding:20px;
    margin-top:100px;
    background:var(--colorfondo2);
    color:var(--letraclara);
}
.anuncio_top_estrenos p{
    text-align:center;
    font-size:0.8em;
    font-weight: bold;
    line-height: 15px;
}

.anuncio_mas_peliculas{
    width:260px;
    padding:20px;
    margin-top:130px;
    background:var(--colorfondo2);
    color:var(--letraclara);
}
.anuncio_mas_peliculas{
    text-align:center;
    font-size:0.8em;
    font-weight: bold;
    line-height: 15px;
}
.anuncio_usuarios_destacados{
    width:260px;
    padding:20px;
    margin-top:130px;
    background:var(--colorfondo2);
    color:var(--letraclara);
}
.anuncio_usuarios_destacados{
    text-align:center;
    font-size:0.8em;
    font-weight: bold;
    line-height: 15px;
}
section div aside ul li {
    list-style: none;
}
section div aside ul li figure a{
    float:left;
    margin:20px;
}
section div aside ul li figure a img{
    width:50px;
    height:30px;
}
/* --------------------------------------------------------------------------------------------------------------------------ASIDE------------TOP ESTRENOS */
#anuncio_top_estrenos{
    margin-top:30px;
    width:300px;
    padding:20px;
    background:var(--colorfondo);
    color:var(--fontblanco);
}
.container_base{
    background: var(--colorfondo);
    width:292px;
    height:150px;
}

.calificacion{
    width:32px;
    height:32px;
    background:var(--azul);
    z-index:2;
    position:relative;
    bottom:-70px;
    right:4px;
    border-radius:30px;
    color:var(--fontblanco);
}
.supercalificacion{
    width:40px;
    height:40px;
    background:var(--colorfondo);
    z-index:1;
    position:relative;
    right:8px;
    bottom:-35px;
    border-radius:30px;
}
.calificacion p{
    z-index:2;
    position:relative;
    right:115px;
    bottom:-5px;
}
section div aside div figure a img{
    width:88px;
    height:130px;
    float:left;
    border-radius:5%;
    opacity: 80%;
}
.container_base img:hover{
    opacity: 100%;
}
section div aside div figure a figcaption{
    float:left;
    margin:20px;
    color:var(--fontblanco);
}
section div aside div div p{
    margin-left:120px;
    font:15px bold sans-serif;
    word-spacing: 10px;
    color:var(--fontblanco);
}

.big{
    font-size:20px;
}
.dorado{
    color:var(--dorado);
}
.hd{
    width:26px;
    height:20px;
    background:var(--doradooscuro);
    z-index:1;
    position:relative;
    bottom:18px;
    right:-240px; 
    border-radius:30px;
    color:var(--fontblanco);
}
.hd p{
    position:relative;
    right:114px;
    top:4px;
    color:var(--negro);
    font-size:10px;
}
/* -------------------------------------------------------------------------------------------------------------------------------js botton */

.anuncio_peliculas_destacadas{
    width:260px;
    padding:20px;
    margin-top:120px;
    background:var(--colorfondo2);
    color:var(--letraclara);
}
.anuncio_peliculas_destacadas p{
    text-align:center;
    font-size:0.8em;
    font-weight: bold;
    line-height: 15px;
}
.preferencia{
    padding:20px;
    /* width:50%; */
    margin:15px;
    background: var(--colorfondo);
    color:var(--fontblanco);
    border:none;
    border-bottom: 4px solid var(--doradooscuro);
}
/* --------------------------------------------------------------------------------------------------------------------------------FOOTER */
footer{
    background:var(--colorfondo);
    height:200px;
}
.footer{
    background:var(--colorfondo);
    width:100%;
    height:70px;
    clear:both;
    margin-left:180px;
}
.footer_nav a{
    text-decoration: none;
    margin-left:20px;
    color:var(--fontblanco);
}
.footer_nav li{
    list-style: none;
    float: left;

}
#footer_p{
    font:30px;
    color:var(--fontblanco);
    margin-left:150px;
}
body::-webkit-scrollbar{
    background:var(--letradefondo);
}
body::-webkit-scrollbar-thumb{
    background:var(--azul);
    border-radius:10px;
}
